# Cambiar estos valores:
GHCR_USER=TU_USUARIO_GITHUB              # ej: juan-perez
GHCR_PAT=TU_PERSONAL_ACCESS_TOKEN         # ej: ghp_xxxxxxxxxxxxxxxxxxxx

# Base Service
POSTGRES_USER_BASE=base_user
POSTGRES_PASSWORD_BASE=base_password
POSTGRES_DB_BASE=base_db

# Formatter Service
POSTGRES_USER_FORMATTER=formatter_user
POSTGRES_PASSWORD_FORMATTER=formatter_password
POSTGRES_DB_FORMATTER=formatter_db

# Snippet Service
POSTGRES_USER_SNIPPET=snippet_user
POSTGRES_PASSWORD_SNIPPET=snippet_password
POSTGRES_DB_SNIPPET=snippet_db

# Execution Service
POSTGRES_USER_EXECUTION=execution_user
POSTGRES_PASSWORD_EXECUTION=execution_password
POSTGRES_DB_EXECUTION=execution_db

# Analyzer Service
POSTGRES_USER_ANALYZER=analyzer_user
POSTGRES_PASSWORD_ANALYZER=analyzer_password
POSTGRES_DB_ANALYZER=analyzer_db

# Authorization Service
POSTGRES_USER_AUTHORIZATION=authorization_user
POSTGRES_PASSWORD_AUTHORIZATION=authorization_password
POSTGRES_DB_AUTHORIZATION=authorization_db