# --- Acceso a GitHub Container Registry (GHCR) ---
# Necesario para hacer 'docker compose pull'
GHCR_USER=TU_USUARIO_GITHUB_DEV
GHCR_PAT=TU_PERSONAL_ACCESS_TOKEN_DEV # Token con permisos 'read:packages'

# --- Configuración de Auth0 (DESARROLLO) ---
# Usa los valores de tu tenant/aplicación de Auth0 para desarrollo
AUTH0_ISSUER_URI=https://tu-dominio-dev.auth0.com/
AUTH0_AUDIENCE=https://api.tu-dominio-dev.com/ # El mismo Audience para todas tus APIs en DEV
AUTH0_DOMAIN=tu-dominio-dev.auth0.com       # Necesario para Authentication Service (API Management)
AUTH0_MGMT_CLIENT_ID=TU_CLIENT_ID_M2M_DEV   # Credenciales M2M para Authentication Service
AUTH0_MGMT_CLIENT_SECRET=TU_CLIENT_SECRET_M2M_DEV

# --- URLs de Comunicación Interna entre Servicios (DESARROLLO) ---
# El Execution Service usará esta URL para llamar al Authorization Service
AUTHORIZATION_SERVICE_URL=http://authorization-service-api:8080

# --- Credenciales de Bases de Datos (DESARROLLO) ---
# Puedes usar valores simples para desarrollo local/dev

# Formatter Service
POSTGRES_USER_FORMATTER=formatter_user_dev
POSTGRES_PASSWORD_FORMATTER=formatter_password_dev
POSTGRES_DB_FORMATTER=formatter_db_dev

# Snippet Service (Si todavía existe)
# POSTGRES_USER_SNIPPET=snippet_user_dev
# POSTGRES_PASSWORD_SNIPPET=snippet_password_dev
# POSTGRES_DB_SNIPPET=snippet_db_dev

# Execution Service
POSTGRES_USER_PRINTSCRIPT=execution_user_dev
POSTGRES_PASSWORD_PRINTSCRIPT=execution_password_dev
POSTGRES_DB_PRINTSCRIPT=execution_db_dev

# Analyzer Service
POSTGRES_USER_ANALYZER=analyzer_user_dev
POSTGRES_PASSWORD_ANALYZER=analyzer_password_dev
POSTGRES_DB_ANALYZER=analyzer_db_dev

# Authorization Service
POSTGRES_USER_AUTHORIZATION=authorization_user_dev
POSTGRES_PASSWORD_AUTHORIZATION=authorization_password_dev
POSTGRES_DB_AUTHORIZATION=authorization_db_dev

# Authentication Service
POSTGRES_USER_AUTHENTICATION=auth_user_dev
POSTGRES_PASSWORD_AUTHENTICATION=auth_password_dev
POSTGRES_DB_AUTHENTICATION=auth_db_dev

# Base Service (Si existe, parece que no está en tu docker-compose.yml)
# POSTGRES_USER_BASE=base_user_dev
# POSTGRES_PASSWORD_BASE=base_password_dev
# POSTGRES_DB_BASE=base_db_dev


VITE_AUTH0_DOMAIN=tef-austral.us.auth0.com
VITE_AUTH0_CLIENT_ID=KuVymmoEvGBrTIPkIERGKaGGvphD0yaF
ASSET_SERVICE_URL=http://nginx/api/assets/v1/asset
PORT=5173