GHCR_USER=example_user
GHCR_PAT=example_pat

REDIS_TOKEN=example_redis_token

POSTGRES_USER_SNIPPET=example_snippet_user
POSTGRES_PASSWORD_SNIPPET=example_snippet_password
POSTGRES_DB_SNIPPET=example_snippet_db

POSTGRES_USER_PRINTSCRIPT=example_printscript_user
POSTGRES_PASSWORD_PRINTSCRIPT=example_printscript_password
POSTGRES_DB_PRINTSCRIPT=example_printscript_db

POSTGRES_USER_AUTHORIZATION=example_authorization_user
POSTGRES_PASSWORD_AUTHORIZATION=example_authorization_password
POSTGRES_DB_AUTHORIZATION=example_authorization_db

AUTHORIZATION_SERVICE_URL=http://authorization-service-api.example:8080/
PRINTSCRIPT_SERVICE_URL=http://language-service-api.example:8080/
PRINTSCRIPT_SERVICE_DOMAIN=language-service-api.example:8080
ASSET_SERVICE_URL=http://asset-service-api.example:8080/v1/asset
AUTH_URL=/api/authorization
AUTH0_ISSUER_URI=https://example-auth0-domain.auth0.com/
AUTH0_AUDIENCE=https://example.com/api
AUTH0_DOMAIN=example-auth0-domain.auth0.com

AUTH0_MGMT_CLIENT_ID=example_mgmt_client_id
AUTH0_MGMT_CLIENT_SECRET=example_mgmt_client_secret

VITE_DOMAIN=example-frontend.example.org
VITE_AUTH0_DOMAIN=example-auth0-domain.auth0.com
VITE_AUTH0_CLIENT_ID=example_vite_client_id
VITE_AUDIENCE=https://example.com/api

SNIPPET_SERVICE_M2M_CLIENT_ID=example_snippet_m2m_client_id
SNIPPET_SERVICE_M2M_CLIENT_SECRET=example_snippet_m2m_client_secret

PRINTSCRIPT_M2M_CLIENT_ID=example_printscript_m2m_client_id
PRINTSCRIPT_M2M_CLIENT_SECRET=example_printscript_m2m_client_secret

AUTH0_TOKEN_URI=https://example-auth0-domain.auth0.com/oauth/token
AUTH0_M2M_SCOPE=read:snippets,write:snippets

VITE_AUTH0_USERNAME=example_user@example.com
VITE_AUTH0_PASSWORD=example_password

NEW_RELIC_LICENSE_KEY=example_new_relic_license_key

PORT=5173
CYPRESS_BASE_URL=https://example-frontend.example.org
VITE_FRONTEND_URL=https://example-frontend.example.org
WEBSOCKET_ALLOWED_ORIGINS=https://example-frontend.example.org
VITE_PRINTSCRIPT_URL=https://example-frontend.example.org/api/language
PRINTSCRIPT_SERVICE_WS_PROTOCOL=ws
