# --- Acceso a GitHub Container Registry (GHCR) ---
GHCR_USER=TU_USUARIO_GITHUB_DEV
GHCR_PAT=TU_PERSONAL_ACCESS_TOKEN_DEV

# --- Configuración de Auth0 (DESARROLLO) ---
AUTH0_ISSUER_URI=https://tu-dominio-dev.auth0.com/
AUTH0_AUDIENCE=https://api.tu-dominio-dev.com/
AUTH0_DOMAIN=tu-dominio-dev.auth0.com
AUTH0_MGMT_CLIENT_ID=TU_CLIENT_ID_M2M_DEV
AUTH0_MGMT_CLIENT_SECRET=TU_CLIENT_SECRET_M2M_DEV

# --- URLs de Comunicación Interna entre Servicios (DESARROLLO) ---
AUTHORIZATION_SERVICE_URL=http://authorization-service-api:8080

# Language Service
POSTGRES_USER_LANGUAGE=language_user_dev
POSTGRES_PASSWORD_LANGUAGE=language_password_dev
POSTGRES_DB_LANGUAGE=language_db_dev

# Authorization Service
POSTGRES_USER_AUTHORIZATION=authorization_user_dev
POSTGRES_PASSWORD_AUTHORIZATION=authorization_password_dev
POSTGRES_DB_AUTHORIZATION=authorization_db_dev

# Snippet Service
POSTGRES_USER_SNIPPET=snippet_user_dev
POSTGRES_PASSWORD_SNIPPET=snippet_password_dev
POSTGRES_DB_SNIPPET=snippet_db_dev

VITE_AUTH0_DOMAIN=tef-austral.us.auth0.com
VITE_AUTH0_CLIENT_ID=KuVymmoEvGBrTIPkIERGKaGGvphD0yaF
ASSET_SERVICE_URL=http://nginx/api/assets/v1/asset
PORT=5173