# --- Acceso a GitHub Container Registry (GHCR) ---
GHCR_USER=TU_USUARIO_GITHUB_PROD
GHCR_PAT=TU_PERSONAL_ACCESS_TOKEN_PROD

# --- Configuración de Auth0 (PRODUCCIÓN) ---
# Asegúrate de usar los valores de tu tenant/aplicación de Auth0 para producción
AUTH0_ISSUER_URI=https://tu-dominio-prod.auth0.com/
AUTH0_AUDIENCE=https://api.tu-dominio-prod.com/ # El mismo Audience para todas tus APIs
AUTH0_DOMAIN=tu-dominio-prod.auth0.com # Necesario para Authentication Service (API Management)
AUTH0_MGMT_CLIENT_ID=TU_CLIENT_ID_M2M_PROD # Credenciales M2M para Authentication Service
AUTH0_MGMT_CLIENT_SECRET=TU_CLIENT_SECRET_M2M_PROD

# --- URLs de Comunicación Interna entre Servicios ---
# El Execution Service usará esta URL para llamar al Authorization Service
AUTHORIZATION_SERVICE_URL=http://authorization-service-api:8080

# Snippet Service (Si todavía existe, si no, puedes eliminar estas 3 líneas)
# POSTGRES_USER_SNIPPET=snippet_user_prod
# POSTGRES_PASSWORD_SNIPPET=contraseña_segura_snippet_prod
# POSTGRES_DB_SNIPPET=snippet_db_prod

# PRINTSCRIPT Service
POSTGRES_USER_PRINTSCRIPT=execution_user_prod
POSTGRES_PASSWORD_PRINTSCRIPT=contraseña_segura_execution_prod
POSTGRES_DB_PRINTSCRIPT=execution_db_prod

# Authorization Service
POSTGRES_USER_AUTHORIZATION=authorization_user_prod
POSTGRES_PASSWORD_AUTHORIZATION=contraseña_segura_authorization_prod
POSTGRES_DB_AUTHORIZATION=authorization_db_prod

VITE_AUTH0_DOMAIN=tef-austral.us.auth0.com
VITE_AUTH0_CLIENT_ID=KuVymmoEvGBrTIPkIERGKaGGvphD0yaF
ASSET_SERVICE_URL=http://nginx/api/assets/v1/asset
PORT=5173