# --- Acceso a GitHub Container Registry (GHCR) ---
GHCR_USER=TU_USUARIO_GITHUB_PROD
GHCR_PAT=TU_PERSONAL_ACCESS_TOKEN_PROD

# --- Configuración de Auth0 (PRODUCCIÓN) ---
AUTH0_ISSUER_URI=https://tu-dominio-prod.auth0.com/
AUTH0_AUDIENCE=https://api.tu-dominio-prod.com/
AUTH0_DOMAIN=tu-dominio-prod.auth0.com
AUTH0_MGMT_CLIENT_ID=TU_CLIENT_ID_M2M_PROD
AUTH0_MGMT_CLIENT_SECRET=TU_CLIENT_SECRET_M2M_PROD
AUTH0_TOKEN_URI=https://tu-dominio-prod.auth0.com/oauth/token

# --- M2M Credentials ---
LANGUAGE_M2M_CLIENT_ID=your_language_m2m_client_id_prod
LANGUAGE_M2M_CLIENT_SECRET=your_language_m2m_client_secret_prod
SNIPPET_SERVICE_M2M_CLIENT_ID=your_snippet_m2m_client_id_prod
SNIPPET_SERVICE_M2M_CLIENT_SECRET=your_snippet_m2m_client_secret_prod

# --- URLs de Comunicación Interna entre Servicios ---
AUTHORIZATION_SERVICE_URL=http://authorization-service-api:8080
LANGUAGE_SERVICE_URL=http://language-service-api:8080
ASSET_SERVICE_URL=http://asset-service-api:8080/v1/asset
LANGUAGE_SERVICE_DOMAIN=printscript.duckdns.org

# --- Database Configuration ---
# Language Service
POSTGRES_USER_LANGUAGE=language_user_prod
POSTGRES_PASSWORD_LANGUAGE=contraseña_segura_language_prod
POSTGRES_DB_LANGUAGE=language_db_prod

# Authorization Service
POSTGRES_USER_AUTHORIZATION=authorization_user_prod
POSTGRES_PASSWORD_AUTHORIZATION=contraseña_segura_authorization_prod
POSTGRES_DB_AUTHORIZATION=authorization_db_prod

# Snippet Service
POSTGRES_USER_SNIPPET=snippet_user_prod
POSTGRES_PASSWORD_SNIPPET=contraseña_segura_snippet_prod
POSTGRES_DB_SNIPPET=snippet_db_prod

# --- UI Configuration ---
VITE_AUTH0_DOMAIN=tef-austral.us.auth0.com
VITE_AUTH0_CLIENT_ID=KuVymmoEvGBrTIPkIERGKaGGvphD0yaF
VITE_AUDIENCE=https://api.tu-dominio-prod.com/
VITE_DOMAIN=printscript.duckdns.org

# --- Auth0 Scopes ---
AUTH0_M2M_SCOPE=read:snippets write:snippets

# --- New Relic (Optional) ---
NEW_RELIC_LICENSE_KEY=your_new_relic_license_key_prod